body {
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#perfilInfo {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    max-width: 300px;
}